<launch>
    <param name="model" type="string" value="/home/fangyu/GitHub/algos-stack/controllers/rl_fs_wrapper_sadifs2/super_resolution.onnx"/>
    <param name="mode" type="string" value="prompt"/>
    <node pkg="onnx2ros" type="prompt_mode" name="controller" output="screen"/>
    <node pkg="onnx2ros" type="mock_sensors.py" name="sensors" output="screen"/>
</launch>