<launch>
    <param name="model" type="string" value="$(find onnx2ros)/../controllers/12Jul21_RL_vdes_output_cra/12Jul21_RL_vdes_output_cra.onnx"/>
    <param name="mode" type="string" value="prompt"/>
    <param name="v" type="double" value="30.0"/>
    <param name="lv" type="double" value="10.0"/>
    <param name="h" type="double" value="50.0"/>
    <node pkg="onnx2ros" type="prompt_mode" name="controller" output="screen"/>
    <node pkg="onnx2ros" type="mock_sensors.py" name="sensors" output="screen"/>
</launch>
